{
  "src/**/*.ts": ["prettier --config ./.prettierrc --write", "eslint"],
  "projects/**/*.ts": ["prettier --config ./.prettierrc --write", "eslint"],
  "mock/**/*.ts": ["prettier --config ./.prettierrc --write", "eslint"],
  "domain/**/*.ts": ["prettier --config ./.prettierrc --write", "eslint"],
  "src/**/*.scss": ["stylelint"],
  "projects/**/*.scss": ["stylelint"]
}
